/* body {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* .banner img{
  display:block;
  margin:auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px 0;
} */

/* .banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.name {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 20px;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 20px;
}

.fa-brands {
  padding: 10px;
} */ 
